:root {
  --light-shade: #ecefec;
  --light-accent: #ef3b66;
  --primary-color: #939396;
  --dark-accent: #9c4747;
  --dark-shade: #2f3b44;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--light-shade);
  color: var(--dark-shade);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-auto-rows: 150px;
  width: 500px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  border: 1px solid var(--dark-shade);
  cursor: pointer;
}


.item:hover {
  background: #dddddd;
}
